@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  --primary: #062462;
  --secondary: #e5e5e5;
  background-color: var(--primary);
  color: var(--secondary);
}

body {
  height: 100vh;
}

#content {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* header */

.header {
  display: grid; 
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  padding: 20px 10%;
}

.logo {
  font-size: 2.5rem; 
  font-weight: 900; 
  font-style: italic;
}

.nav-bar__container {
  display: flex;
  justify-content: space-around;
}

.nav-bar__container > * {
  font-size: 1.6rem; 
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
  transition: all 300ms;
}

.nav-bar__container > *:hover {
  box-shadow: 0px 3px 0px 0px var(--secondary);
  transition: all 300ms;
}

.active {
  box-shadow: 0px 3px 0px 0px var(--secondary);
}

/* home */

.home__image {
  background-image: url(../pics/pizza.jpg);
  background-position: center;
  background-size: cover;
}

.home {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2,1fr);
}

.home__container {
  justify-self: center;
  align-self: center;
  height: fit-content;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center; 
  text-align: center;
  gap: 50px;
}

.home__copy {
  font-size: 1.6rem;
  font-weight: 900;
}

.home__order-btn{
  align-self: center;
  cursor: pointer;
  padding: 15px 25px;
  background-color: var(--secondary);
  color: var(--primary);
  border: solid 1px var(--secondary); border-radius: 15px;
  font-size: 1rem;
  transition: all 300ms;
}

.home__order-btn:hover {
  opacity: 0.6;
}

.home__info-box{
  display: flex;
  flex-direction: column;
}

.home__address-wrapper,
.home__hours-wrapper {
  display: flex;
  justify-content: flex-start; align-items: center;
  padding: 20px 0px;
  gap: 30px;
}

.home__address-icon,
.home__hours-icon {
  width: 30px; height: 30px;
}

.home__address-copy,
.home__hours-copy {
}

/* menu */

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  justify-items: center; align-items: center;
  gap: 20px;
  padding: 10% 10%;
}

.menu__card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center; align-items: center;
  border: solid 2px var(--secondary); border-radius: 15px;
  background-color: var(--secondary); 
  font-weight: 600 ; color: var(--primary);
  padding: 20px;
  cursor: pointer;
}

.menu__name,
.menu__price {
  padding-top: 10px;
}

/* contact */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
}

.contact__copy {
  font-size: 2rem;
  font-weight: 900;
  padding-bottom: 50px;
}

.contact__email {
  font-size: 1.2rem;
  font-weight: 900;
}

/* footer */

.footer {
  color: var(--light-shade);
  height: clamp(5%,50px,10%);
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10%;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

